$contentWidth: 1140px;

$textPrimary: #091156;
$textPrimaryLight: #414880;
$textPrimarySLight: #d7dbff;
$textSecondary: #ff64ae;
$textTertiary: #8b8b8b;
$textTertiaryLight: #c5c5c5;
$textWhite: #fff;

$bgPrimary: #ff64ae;
$bgSecondaryDark: #0d165c;
$bgSecondary: #091156;
$bgSecondaryLight: #414880;
$bgTertiary: #eeeeee;
$bgWhite: #fff;

$linePrimary: #d9ddfe;

$shadowPrimary: #f6f7ff;
$shadowSecondary: #e6e9fd;
$shadowTertiary: #ffedf6;

$textXLarge: 3rem;
$textLarge: 2.25rem;
$textXMedium: 1.125rem;
$textMedium: 1rem;
$textSmall: 0.875rem;

$space-10: 10px;
$space-20: 20px;
$space-30: 30px;
$space-40: 40px;
$space-60: 60px;
$space-100: 100px;
$space-120: 120px;
$space-200: 200px;

$laptop: 1024px;
$tablet: 768px;
$mobile: 425px;

$transition: 0.25s ease-in-out;
