@import "../../layout/header";
@import "../../layout/footer";

@import "./mixins/slider";
@import "./mixins/main-services";
@import "./mixins/about-us";
@import "./mixins/professional-teams";
@import "./mixins/contact-us";

.bg-section-1 {
  background: url("../assets/imgs/bgs/SlideBackground.png") no-repeat top left;
  background-size: 90% 100%;
}

.bg-section-2 {
  background: url("../assets/imgs/bgs/BG1.png") no-repeat bottom right;
  background-size: 60% 60%;
}

.bg-section-3 {
  background: url("../assets/imgs/bgs/BG2.png") no-repeat bottom left;
  background-size: 80% 60%;
}

.bg-section-4 {
  background: url("../assets/imgs/bgs/FooterBG.png") no-repeat center bottom;
  background-size: cover;
}

.container {
  max-width: $contentWidth;
  margin: 0 auto;
}

.header {
  @include header;
}

.slider {
  @include slider;
}

.main-services {
  @include main-services;
}

.about-us {
  @include about-us;
}

.professional-teams {
  @include professional-teams;
}

.contact-us {
  @include contact-us;
}

.footer {
  @include footer;
}
