@import "../utils/variables";

%button {
  background: $bgPrimary;
  color: $textWhite;
  font-size: $textMedium;
  padding: 15px 40px;
  border: none;
  border-radius: 50px;
  transition: $transition;

  &:hover {
    cursor: pointer;
    background: $bgSecondary;
  }
}

%cta-button {
  @extend %button;
  box-shadow: 0px 17px 22px $bgTertiary;

  &:hover {
    box-shadow: 0px 25px 50px 25px $shadowSecondary;
  }
}
